.section-testimonials {
    padding-top: 0;
    background-image: linear-gradient(rgba($color-black, .8),rgba($color-black, .8)) ,url(asset/image/back-customers.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: $color-white;

    h2 {
        padding-top: 8rem;
    }

    .flex-container {
        display: flex;
        justify-content: space-around;

        .flex-item {
            flex: 0 0 30%;
            

            blockquote {
                padding-top: 3rem;
                font-style: italic;
                line-height: 1.5;
                font-size: 1.8rem;
                position: relative;

                &::before {
                    content: "\201C";
                    font-size: 5rem;
                    position: absolute;
                    top: -1.5rem;
                    left: -1rem;
                }
            }

            cite {
                font-size: 1.6rem;
                margin-top: 2rem;
                display: flex;
                align-items: center;
            }

            img {
                height: 6rem;
                border-radius: 50%;
                padding-right: 1rem;
            }
        }
    }

}