<!DOCTYPE html>
html(lang="en")

    block page-config

    head
        meta(charset="UTF-8")
        meta(name="description" content=description)
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        <link href="https://unpkg.com/ionicons@4.4.6/dist/css/ionicons.min.css" rel="stylesheet">
        link(rel="stylesheet", href="style.css")
        title=title
    body
        block page-content