footer {
    font-size: 1.4rem;
    padding: 3rem 0;
    background-color: #333;

    .flex-container {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
    }

    .flex-item {
        flex: 0 0 50%;
        margin-bottom: 2rem;

        &:first-child {
            display: flex;
            justify-content: flex-start;
        }

        &:last-child {
            display: flex;
            justify-content: flex-end;
        }
    }

    ul {
        list-style: none;
    }

    li {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 2rem;
        }

        a:link,
        a:visited {
            text-decoration: none;
            color: #888;
            transition: all .2s;
        }

        a:hover,
        a:active {
            color: #ddd;
        }
    }

    .social_links li a:link,
    .social_links li a:visited {
        font-size: 2.5rem;
    }

    .ion-logo-facebook,
    .ion-logo-twitter,
    .ion-logo-googleplus,
    .ion-logo-instagram {
        transition: all .2s;
    }

    .ion-logo-facebook:hover {
        color: #3b5998;
    }
    .ion-logo-twitter:hover {
        color: #1da1f2;
    }
    .ion-logo-googleplus:hover {
        color: #db4437;
    }
    .ion-logo-instagram:hover {
        color: #c32aa3;
    }

    p {
        text-align: center;
        font-size: 1.2rem;
        color: #888;
    }
}