extends _component/layout/layout

block page-config
    -
        var title = 'Omnifood App';
        var description = 'Order food fast, not fast food';

block page-content
    include _component/header/header