extends _component/layout/layout

block page-config
    -
        var title = 'Omnifood App';
        var description = 'Order food fast, not fast food';

block page-content
    include _component/header/header
    include _component/section-features/section-features
    include _component/section-meals/section-meals
    include _component/section-steps/section-steps
    include _component/section-cities/section-cities
    include _component/section-testimonials/section-testimonials
    include _component/section-plans/section-plans
    include _component/section-form/section-form
    include _component/footer/footer